@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300;400;500;600;700&display=swap');
:root {
  --main-color: #0b0b0b;
  --font-Glory: 'Glory', sans-serif;
}
html {
  font-size: 62.5%;
  font-family: 'Glory', sans-serif !important;
}
body {
  background-color: var(--main-color);
  overflow-x: hidden;
}
